@model CustomerSearchViewModel

@if (Model.Pages == 0)
{
    <p>No matching customer was found.</p>
}
<span>
    @for (int i = 1; i < Model.Pages + 1; i++)
    {
    <a asp-action="GetCustomers" asp-controller="Cashier" data-ajax="true"
       data-ajax-method="GET"
       data-ajax-mode="replace"
       data-ajax-update="#customer-search-result"
       asp-route-name="@Model.Name"
       asp-route-city="@Model.City"
       asp-route-page="@i"
       asp-route-pages="@Model.Pages">
        @i
    </a>
    }
</span>

@if (Model.Customers.Count() == 0)
{
    <p>This page is empty.</p>
}
else
{
    @foreach (var customer in Model.Customers)
    {
        <hr />
        <p>
            <a asp-action="Customer" asp-controller="Cashier" method="GET" asp-route-id="@customer.CustomerId">
                @customer.Givenname @customer.Surname
            </a>
        </p>
        <p>@customer.Streetaddress, @customer.Zipcode @customer.City, @customer.Country</p>
        <hr />
    }
}