@model AccountViewModel

<div class="text-center">
    <h1>Account</h1>
    <h4> @Model.Account.AccountId</h4>
    <p>Balance: @Model.Account.Balance</p>
    <p>Created: @Model.Account.Created</p>

    <hr />

    <h4>Transactions</h4>
    <div class="row">
        <div class="col">Id</div>
        <div class="col">Amount</div>
        <div class="col">Operation</div>
        <div class="col">Bank</div>
        <div class="col">Account</div>
        <div class="col">Date</div>
        <div class="col">Symbol</div>
        <div class="col">Type</div>
        <div class="col">Balance</div>
    </div>
    <hr />

    @foreach (var transaction in Model.TransactionsList.Transactions)
    {
        <div class="row">
            <div class="col">@transaction.TransactionId</div>
            <div class="col">@transaction.Amount</div>
            <div class="col">@transaction.Operation</div>
            <div class="col">@transaction.Bank</div>
            <div class="col">@transaction.Account</div>
            <div class="col">@transaction.Date</div>
            <div class="col">@transaction.Symbol</div>
            <div class="col">@transaction.Type</div>
            <div class="col">@transaction.Balance</div>
        </div>
        <hr />
    }
    @if (Model.TransactionsList.HasMore)
    {
        <div id="next-button">
            <form asp-action="GetTransactions" asp-controller="Cashier"
                  data-ajax="true"
                  data-ajax-method="GET"
                  data-ajax-mode="after"
                  data-ajax-complete="removeNextButton"
                  data-ajax-update="#transactions-list">
                <input type="hidden" name="id" value="@Model.Account.AccountId" />
                <input type="hidden" name="page" value="1" />
                <button class="btn btn-dark">+</button>
            </form>
        </div>
    }
    <div id="transactions-list"></div>
</div>