@model CustomerViewModel

<div class="text-center">
    <h1>Customer</h1>
    <p>Find a customer by Id</p>
    <form asp-action="Customer" asp-controller="Cashier" method="GET">
        <input name="id" />
        <button class="btn btn-dark">Find</button>
    </form>

    @if (Model != null && Model.Details != null)
    {
        <h1>@Model.Details.Givenname @Model.Details.Surname</h1>
        <p>Id: @Model.Details.CustomerId</p>
        <p>National Id: @Model.Details.NationalId</p>
        <p>Gender: @Model.Details.Gender</p>
        <p>Birthday: @Model.Details.Birthday</p>

        <h3>Contact</h3>
        <p>Email: <a href="mailto:@Model.Details.Emailaddress">@Model.Details.Emailaddress</a></p>
        <p>Phone: +@Model.Details.Telephonecountrycode @Model.Details.Telephonenumber</p>
        <p>Street: @Model.Details.Streetaddress</p>
        <p>Zip: @Model.Details.Zipcode</p>
        <p>City: @Model.Details.City</p>
        <p>Country: @Model.Details.Country</p>
        <p>Country code: @Model.Details.CountryCode</p>

        <form asp-action="EditCustomer" asp-controller="Cashier" method="get">
            <input type="hidden" name="id" value="@Model.Details.CustomerId"/>
            <button class="btn btn-dark">Edit this customer</button>
        </form>
        <hr />
        <h3>Accounts</h3>
        @if (Model.AccountsModel.Accounts.Count > 0)
        {
            <p>Total balance: @Model.AccountsModel.TotalBalance</p>
            <hr />
            @foreach (var account in Model.AccountsModel.Accounts)
            {
                <h4> <a asp-action="Account" asp-controller="Cashier" asp-route-id="@account.AccountId">@account.AccountId</a></h4>
                <p>Balance: @account.Balance</p>
                <p>Type: @account.Type</p>
                <p>Created: @account.Created</p>
                <hr />
            }
        }
        else
        {
            <p>No accounts.</p>
        }
    }
</div>